.container {
	 background-image: url("Main_Background.png");
    background-size:  100% 100%;
    
    background-repeat: no-repeat;
   
    
    
   
     width: 100%;
     height: 900px;
     opacity: 0.8;
         padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    


}
.bs-example {
    
    background-color: blue;
    margin: 0px;
    border-bottom: 1px solid #654c9b;
    
}
.navbar-header {
    width: 20px;
    margin-top: -14px;
    margin-left: 618px;
}
li.welcome {
    margin-left: 379px;
    /* margin-top: -8px; */
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default {
  background-image: url("nav-bar.png");
    background-size:  100% 100%;
    
    /*background-repeat: no-repeat;*/
     background-position: center;
    border-color: black;
}
.navbar-brand{
   /* margin-left: 650px;*/
}
.navbar-default .navbar-brand {
    color: #f3eded;
    margin-top: -4px;
   /* margin-left: 660px;*/
}
.welcome{
    margin-left: 200px;
   /* text-shadow: 2px 2px 5px #95A2A6;*/
    
}
.logout {
    background-color: #16132b;
    color: #8a7dca;
    font-size: 9px;
    margin-top: 13px;
    margin-right: 15px;
    border-radius: 15px;
    padding: 2px 8px;
}
.btn-default {
    border-color: #665b97;
}
.navbar-default .navbar-nav>li>a {
    color: #f5f3f3;
}
p.tagline {
            font-size: 7px;
    margin-top: -7px;
    margin-left: -23px;
}
.lamb{
    color: #aba9b4;
}


.box{
    height: 799px;
    width: 900px;
   /* margin-top: -25px;*/
    margin-left: 300px;
    margin-right: 100px;
   /* border:2px solid blue;*/
    /*background-color: white;*/
}
.userinfo{
    width: 100%;
    height:175px;
     display: -webkit-flex;
    display: flex;
    /*background-color: black;*/
     background-image: url("profile-details-bg.png");
    background-size:  107% 100%;
    
    background-repeat: no-repeat;
}
.spacebox{
     background-image: url("image-under-profile-details.png");
    background-size:  100% 100%;
    
    background-repeat: no-repeat;
    height: 75px;
    width: 100%;
}
.welcomeportal{
    background-color: #3e2f68;
    height: 545px;
    width: 100%;
    margin-top: -20px;
}

/*.profilepic{
 
     padding: 0 15px;
}
*/
.profilewarning{
   
     padding: 0 5px;
}



.grid-divider {
        position: relative;
        padding: 0;
}
.grid-divider>[class*='col-'] {
        position: static;
}
.grid-divider>[class*='col-']:nth-child(n+2):before {
            content: "";
    border-left: 1px solid #232323;
    position: absolute;
    top: 15px;
    bottom: 15px;
}
.tablediv {
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #d3d3d3}
tr:nth-child(odd){background-color: #dcdcdc}

th {
    background-color: #b5a9e9;
    color: white;
    border-right: 1px solid grey;
}
td{
border-right: 1px solid grey;
}
.completed{
    background-color: #a2cb6d;
}
.progress{
    background-color: #ffb882;
}
.profilepic{
        width: 120px;
    height: 120px;
    
        margin-left: 12px;
    border: 1px solid white;
    margin-top: 20px;
}
.image{
    width: 100%;
    height: 100%;
}
.car{
    color: #fbfafc;
    margin-left: 10px;
    margin-top: 20px;

}
.bowwy{
    color: #8477c3;
    margin-left: 10px;
    margin-top: -10px;
    font-size: 16px;
}
.mccree{
    color: #7b6264;
    margin-left: 10px;
    margin-top: -10px;
    font-size: 40px;

}
.stats{
        color: #dbd8d9;
    margin-left: 160px;
    font-size: 12px;
}
.my{
    color: #716c72;
    font-size: 10px;
        font-style: italic;
}
.score{
    color: white;
    font-size: 8px;
    margin-top: 90px;
    margin-left: 17px;
}
span.current {
    font-size: 13px;
}
hr {
    margin-top: -10px;
    margin-bottom: -20px;
    margin-left: 17px;
    border: 0;
    border-top: 1px solid #eee;
}


hr.style2 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(192, 183, 183, 0.75), rgba(0, 0, 0, 0));
}
.num{
    color: white;
       font-size: 25px;
    margin-left: 43px;
}
.playerwar{
        margin-top: 25px;
    margin-left: 5px;
}


.heading{
    margin-bottom: 20px;
    margin-top: 15px;
}
.welcomehead{
    color: #f8edfc;
    font-size: 20px;
        margin-left: 30px;
}
hr.style6 {
    border: 0;
    height: 1px;
    margin-bottom: 0px;
    margin-top: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(192, 183, 183, 0.75), rgba(0, 0, 0, 0));
}
span.toyour {
    color: #b8aec9;
}
hr.style7 {
    border: 0;
    height: 1px;
    margin-bottom: 0px;
    margin-top: 30px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(216, 211, 211, 0.75), rgba(0, 0, 0, 0));
    margin-right: -50px;
}
hr.style8 {
    border: 0;
    height: 1px;
    margin-bottom: 0px;
    margin-top: 30px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(216, 211, 211, 0.75), rgba(0, 0, 0, 0));
    margin-left: -50px;
}
.tabwell{
    margin: 20px;
    /*border: 8px solid #5c518b;*/
    height: 444px;
    border-top: 1px solid white;
    /* border-radius: 18px; */
    border-left-style: groove;
    border-right-style: double;
        border-bottom: 2px solid #b7abe9;
}
.tab-content{
    background-color: white;
        height: 378px;
    margin-top: 0px;
}

.nav-tabs {
    border-bottom: 3px solid #0c07c0;
}
.nav-tabs>li {
    float: left;
    /* margin-bottom: -1px; */
    background-color: #5c518b;
    /* color: white; */
        border-right: 1px solid grey;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #f3f7fb;
}
.alert{
    margin-left: 6px;
    margin-right: 6px;
   padding: 0px; 
    margin-bottom: 0px; 
}
.headings{
   margin-top: -20px;
    margin-left: 15px;
}
.kaali{
    height: 20px;
}
.currentpast{
    margin-left: 10px;
}
.tableheading{
    height: 40px;
    width: 100%;
    background-color: #b5a9e9;
        margin-left: 0px;
}
.username, .ordertype,.cost,.status{
    color: white;
    padding-top: 5px;
    padding-left: 10px;
}
